*.*
*
!*/
!/nemu/*
!/ysyxSoC/*
!/out/*
!/patch/*
!/nvboard/*
!/am-kernels/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/abstract-machine/*
!Makefile
!README.md
!.gitignore
!init.sh
!/fceux-am/*
!/D-stage-npc/*
